@model IEnumerable<LibraryManagement.Models.Student>

@{
    ViewData["Title"] = "GetAllStudents";
}

<h1>GetAllStudents</h1>

<p>
    <a asp-action="CreateStudent" asp-controller="Students">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Std)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Div)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rollno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Std)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Div)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rollno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditStudentDetails", new { rollno = item.Rollno, std = item.Std, div=item.Div}) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.Rollno }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Rollno })*@
                </td>
            </tr>
        }
    </tbody>
</table>
